<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hewking.develop">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".app.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".demo.ImmersiveDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_immersive_demo"
            android:theme="@style/FullscreenTheme"
            android:resizeableActivity="true"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.FileCompatActivity" />
        <activity
            android:name=".demo.ToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demo.WebViewActivity" />
        <activity
            android:name=".demo.CompatAndroidQActivity"
            android:label="CompatAndroidQActivity" />
        <activity android:name=".demo.BrowseAlbumActivity" />
        <activity android:name=".demo.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".service.CountDownService"
            android:description="@string/app_name"
            android:exported="false" />
        <service android:name=".demo.aidl.MusicManager">
            <intent-filter>
                <action android:name="start_music_manager" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hewking.develop.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>